body{
    background-color:white;
}

.btn-small{
    height: 30px;
    width: 150px;
    line-height: 30px;
    margin: 5px 5px;
    padding: 0 0.5em;
    font-size: 12px;
}

.btn-small i {
    font-size: 20px;
}

.btn-large{
    height: 95px;
    width: 400px;
    line-height: 105px;
    font-size: 25px;
    margin-left:20%;
    text-align: left;
    margin-bottom:25px;
    margin-top: 25px;

}

.btn-large i{
    font-size: 50px;
}

.accordian-btn{
    float:right;
}

.accordian-title{
    margin-top:5px;
    margin-left:5px;
}

.result_image{
    height:250px;
    width: 250px;
    margin-left: 25%;
}

.form_switch{
    position: relative;
    margin: 5px 5px 5px 5px;
}

.resize_field textarea{
    height:5px;
}

.form_btn {
    margin-top:50px;
}

.page-heading h2 {
    font-size:45px;
}

.flash_messages {
    font-size: 15px;
    color: red;
}