body{
    background-color:white;
}

.btn-small{
    height: 30px;
    width: 120px;
    line-height: 30px;
    margin: 5px 5px;
    padding: 0 0.5em ;
    font-size: 12px;
}

.btn-small i {
    font-size: 20px;
}

.accordian-title{
    margin-top:5px;
    margin-left:5px
}