<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2>Add New Movie</h2>

<!-- This area controls the materialize submit form 
component to allow the user to update a movies details and submit -->
<div class="row">
	<form action="{{ url_for('add_film') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 resize_textarea">
				<div class="row">
					<div class="col s6">
						<strong>Film Name: </strong>
						<textarea required id="Name" name="Name" type="text" class="materialize-textarea"></textarea>
					</div>
					<div class="col s6">
						<strong>Director: </strong>
						<textarea id="Director" name="Director" type="text" class="materialize-textarea"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<strong>Description: </strong>
						<textarea id="Description" name="Description" class="materialize-textarea"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<strong>Genre: </strong>
						<textarea id="Genre" name="Genre" type="text" class="materialize-textarea"></textarea>
					</div>
					<div class="col s6">
						<strong>Rating (/100): </strong>
						<p class="range-field">
							<input type="range" id="Rating" name="Rating" min="0" max="100" value="0" onchange="update_range_value(this.value);"/>
                        </p>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<strong>Image URL: </strong>
						<input id="Image" name="Image" type="text" class="validate" value="">
                    </div>
				</div>
                <div class="row">
                    <div id="matfix" class="col s12 ">
                        <strong>Release Date</strong>
                        <input id="Release_Date" name="Release_Date" type="text" class="datepicker" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 switch form_switch">
                        <label>
                        <strong>Watched</strong>
                                <input id="Watched" name="Watched" type="checkbox" checked>
                        <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn waves-effect waves-light form_btn" type="submit">Add Movie
                <i class="material-icons right">done</i>
            </button>
            <!-- this button sends the user to the last page they were on-->
            <button type="button" class="btn waves-effect waves-light form_btn" onclick="javascript:history.back()">Back</button>
        </div>
	</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
        film_release = Date.parse('');
        $('#Release_Date').pickadate('picker').set('select', film_release, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>
{% endblock %}