<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2 class="page-header">Add New Episode for {{show}}</h2>

<!-- This area controls the materialize submit form 
component to allow the user to add a new episodes details and submit -->
<div class="row">
	<form action="{{ url_for('add_episode') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 resize_textarea">
				<div class="row">
					<div class="col s6">
						<strong>TV Show Name</strong>
						<textarea readonly id="Show" name="Show" type="text" class="materialize-textarea">{{show}}</textarea>
					</div>
					<div class="col s6">
						<strong>Episode Name </strong>
                        <strong class="required-field">*Required Field</strong>
						<textarea required id="Name" name="Name" type="text" class="materialize-textarea"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<strong>Episode Number <strong class="required-field">*Required Field</strong></strong>
						<textarea required id="Episode_Number" name="Episode_Number" class="materialize-textarea"></textarea>
					</div>
                    <div class="col s6">
						<strong>Season Number <strong class="required-field">*Required Field</strong></strong>
						<textarea required id="Season_Number" name="Season_Number" class="materialize-textarea"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<strong>Description</strong>
						<textarea id="Description" name="Description" type="text" class="materialize-textarea"></textarea>
					</div>
				</div>
                <div class="row">
					<div class="col s12">
						<strong>Rating (/100)</strong>
						<p class="range-field">
							<input type="range" id="Rating" name="Rating" min="0" max="100" value="0" onchange="update_range_value(this.value);"/>
                        </p>
					</div>
				</div>
                <div class="row">
                    <div id="matfix" class="col s12 ">
                        <strong>Air Date <strong class="required-field">*Required Field</strong></strong>
                        <input required id="Air_Date" name="Air_Date" type="text" class="datepicker" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col s12 switch form_switch">
                        <label class = "editable-switch">
                            <strong>Watched</strong>
                            <input id="Watched" name="Watched" type="checkbox" checked>
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            <button class="btn waves-effect waves-light form_btn" type="submit" >Add Episode
                <i class="material-icons right">done</i>
            </button>
            <!-- this button sends the user to the last page they were on-->
            <button type="button" class="btn waves-effect waves-light form_btn" onclick="javascript:history.back()">Back</button>
        </div>
	</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
        tv_air = Date.parse('');
        $('#Air_Date').pickadate('picker').set('select', tv_air, { format: 'dd/mm/yyyy' }).trigger('change');
    });
</script>
{% endblock %}