<html>
<!-- This will be the parent template for all templates (html pages) which will contain references to the JavaScript &
	CSS files and the third-party libraries used accross the application. -->
	<head>
        <!-- Links for Materialise styles -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>

	<body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <!-- This will display the desktop nav bar-->
                    <h1 class="brand-logo">Personal Interest Manager</h1>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('user_profile')}}"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="{{url_for('manage_users')}}">Manage Users</a></li>
                    </ul>
                    <!-- This will display the additional links in a side nav 
                        bar when in mobile view-->
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('user_profile')}}">Home</a></li>
                        <li><a href="{{url_for('manage_users')}}">Manage Users</a></li>
                    </ul>
                </div>
            </nav>
        </header>


        <!-- This block will display the data from the route -->
        <div class="container">
            {% block content%}
            {% endblock %}
        </div>
        <!-- This area is for the scripts that will be needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
            // """this area sets all items that should load when the page loads"""
            $(document).ready(function(){
                $('.collapsible').collapsible();
                $('select').material_select();
                $(".button-collapse").sideNav();
                

                // """This is needed to allow the datepicker to display"""
                $('.datepicker').pickadate({
                    
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year,
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    closeOnSelect: false // Close upon selecting a date,
                });
                // """This is needed to correct an error with the date picker"""
                
            });
            document.getElementById("matfix").addEventListener("click", function(e) {
                    e.stopPropagation();
                });
            
        </script>
	</body>
</html>