<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2 class="page-header">Edit Game - {{game.Game_Name}}</h2>

<!-- This area controls the materialize submit form 
component to allow the user to update a movies details and submit -->
<div class="row">
	<form action="{{ url_for('update_game', game_id=game._id) }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12 resize_textarea">
				<div class="row">
					<div class="col s6">
						<strong>Game Name <strong class="required-field">*Required Field</strong></strong>
						<textarea required id="Game_Name" name="Game_Name" type="text" class="materialize-textarea">{{game.Game_Name}}</textarea>
					</div>
					<div class="col s6">
						<strong>Console <strong class="required-field">*Required Field</strong></strong>
						<textarea required id="Console" name="Console" type="text" class="materialize-textarea">{{game.Console}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<strong>Description </strong>
						<textarea id="Description" name="Description" class="materialize-textarea">{{game.Description}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<strong>Rating (Current Rating - {{game.Rating}}/10) </strong>
						<p class="range-field">
							<input type="range" id="Rating" name="Rating" min="0.0" max="10.0" step="0.5" value="{{game.Rating}}" onchange="update_range_value(this.value);"/>
                        </p>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<strong>Image URL </strong>
						<input id="Image" name="Image" type="text" class="validate" value={{game.Image}}>
                    </div>
				</div>
            </div>
            <button class="btn waves-effect waves-light form_btn" type="submit">Save Changes
                <i class="material-icons right">done</i>
            </button>
            <!-- this button sends the user to the last page they were on-->
            <button type="button" class="btn waves-effect waves-light form_btn" onclick="javascript:history.back()">Back</button>
        </div>
	</form>
</div>

{% endblock %}