<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2>Log in</h2>
<h5>Please enter your login credentials</h5>

<!-- A with that finds all the flash messages that are available -->
{% with flash_messages = get_flashed_messages() %}
	<!-- if there are messages then it loops through them and displays each in a <h4> tag -->
	{% if flash_messages %}
		{% for flash_message in flash_messages %}
			<h4 class = "flash_messages">{{ flash_message }}</h4>
		{% endfor%}
	{% endif %}
{% endwith%}

<div class="row">
    <form action="{{ url_for('user_login') }}" method="POST"  class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <textarea required id="user_username" name="user_username" type="text" class="materialize-textarea" value=""></textarea>
            <label for="icon_prefix">Username</label>
        </div>
        <div class="input-field col s12">
            <textarea required id="user_password" name="user_password" type="text" class="materialize-textarea" value=""></textarea>
            <label for="icon_prefix">Password</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
        <a href="{{url_for('sign_up')}}" class="waves-effect waves-light btn btn-small blue"><i class="material-icons right">person_add</i>Sign Up</a>      
        </div>
    </form>
  </div>

{% endblock %}