<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2 class="page-header">Manage Users</h2>
<!-- A with that finds all the flash messages that are available -->
{% with flash_messages = get_flashed_messages() %}
	<!-- if there are messages then it loops through them and displays each in a <h4> tag -->
	{% if flash_messages %}
		{% for flash_message in flash_messages %}
			<h4 class = "flash_messages">{{ flash_message }}</h4>
		{% endfor%}
	{% endif %}
{% endwith%}

<a href="{{url_for('new_user')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">person_add</i>New User</a>
<!-- this button sends the user to the last page they were on-->
<button type="button" class="btn btn-back" onclick="javascript:history.back()">Back</button>

<!-- This area controls the materialize accordian 
display component to showcase the user information -->
<ul class="collapsible">
    <!-- For each item the loop will create a new 
    accordian list item and populate it with the data-->
    {% for user in Users %}
    <li>
        <div class="collapsible-header collection">
            <div class="accordian-title collection-item">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{user.Last_Name}}, {{user.First_Name}} - </strong> {{user.Username}}
                <span class="secondary-content">
                    <a href="{{url_for('delete_user', user_id=user._id)}}"class="waves-effect waves-light btn btn-small accordian-btn btn-mob"><i class="material-icons right">delete</i>Delete</a>
                    <a href="{{url_for('edit_user', user_id=user._id)}}" class="waves-effect waves-light btn btn-small accordian-btn blue btn-mob"><i class="material-icons right">build</i>Edit</a>                
                </span>
            </div>
        </div>

        <div class="collapsible-body">
            <span><h4>Address: </h4>
            <ul>
            <li>{{user.Address_Line_1}}</li>
            <li>{{user.Address_Line_2}}</li>
            <li>{{user.Address_Line_3}}</li>
            <li>{{user.City}}</li>
            <li>{{user.Postcode}}</li>
            </ul>
            </span>
            <span><h4>Contact: </h4>
            <ul>
            <li>Phone: {{user.Phone}}</li>
            <li>Email: {{user.Email}}</li>
            </ul>
            </span>
            <span><h4>Login Details: </h4>
            <ul>
            <li>Username: {{user.Username}}</li>
            </ul>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}