<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2 class="page-header">{{show}} - Episode List</h2>
<!-- A with that finds all the flash messages that are available -->
{% with flash_messages = get_flashed_messages() %}
	<!-- if there are messages then it loops through them and displays each in a <h4> tag -->
	{% if flash_messages %}
		{% for flash_message in flash_messages %}
			<h4 class = "flash_messages">{{ flash_message }}</h4>
		{% endfor%}
	{% endif %}
{% endwith%}
<a href="{{url_for('new_episode', tv_name=show)}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">dvr</i>Add Episode</a>
<a href="{{url_for('view_tv')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">tv</i>My TV Shows</a>


<!-- This area controls the materialize accordian 
display component to showcase the user information -->
<ul class="collapsible">
    <!-- For each item the loop will create a new 
    accordian list item and populate it with the data-->
    {% for episode in Episodes %}
    <li>
        <div class="collapsible-header collection">
            <div class="accordian-title collection-item">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{episode.Name}} </strong> <span class ="sm-hidden">- Episode: {{episode.Episode_Number}}</span>
                <span class="secondary-content">
                    <a href="{{url_for('delete_episode', episode_id=episode._id, tv_name=episode.Show)}}"class="waves-effect waves-light btn accordian-btn btn-mob"><i class="material-icons right">delete</i>Delete</a>
                    <a href="{{url_for('edit_episode', episode_id=episode._id)}}" class="waves-effect waves-light btn accordian-btn blue btn-mob"><i class="material-icons right">build</i>Edit</a>
                </span>
            </div>
        </div>

        <div class="collapsible-body">
            <span>
            <ul>
            <li><strong>Name: </strong> {{episode.Name}}</li>
            <li><strong>Show: </strong> {{episode.Show}}</li>
            <li><strong>Season: </strong> {{episode.Season_Number}}</li>
            <li><strong>Episode Number: </strong> {{episode.Episode_Number}}</li>
            <li><strong>Air Date: </strong> {{episode.Air_Date}}</li>
            <li><strong>Rating: </strong> {{episode.Rating}}%</li>
            <li><strong>Descripion: </strong> {{episode.Description}}</li>

            <div class="switch">
                <strong>Watched:</strong>
                <label>
                {% if episode.Watched %}
                          <input disabled id="watched" name="watched" type="checkbox" checked>
                    {% else %}
                         <input disabled id="watched" name="watched" type="checkbox">
                    {% endif%}
                <span class="lever"></span>
                </label>
            </div>
            </ul>
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}