<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2>My Games</h2>
<!-- A with that finds all the flash messages that are available -->
{% with flash_messages = get_flashed_messages() %}
	<!-- if there are messages then it loops through them and displays each in a <h4> tag -->
	{% if flash_messages %}
		{% for flash_message in flash_messages %}
			<h4 class = "flash_messages">{{ flash_message }}</h4>
		{% endfor%}
	{% endif %}
{% endwith%}
<a href="{{url_for('new_game')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">gamepad</i>New Game</a>
<a href="{{url_for('user_profile')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">face</i>User Profile</a>

<!-- This area controls the materialize accordian 
display component to showcase the user information -->
<ul class="collapsible">
    <!-- For each item the loop will create a new 
    accordian list item and populate it with the data-->
    {% for game in Games %}
    <li>
        <div class="collapsible-header">
            
            <div class="col s9 accordian-title">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{game.Game_Name}} - </strong> Console: {{game.Console}}
                <a href="{{url_for('view_quests', game_name=game.Game_Name)}}"class="waves-effect waves-light btn accordian-btn"><i class="material-icons right">menu_book</i>Quests</a>
                <a href="{{url_for('delete_game', game_id=game._id)}}"class="waves-effect waves-light btn accordian-btn"><i class="material-icons right">delete</i>Delete</a> 
                <a href="{{url_for('edit_game', game_id=game._id)}}" class="waves-effect waves-light btn accordian-btn blue"><i class="material-icons right">build</i>Edit</a>
            </div>
        </div>

        <div class="collapsible-body">
            <span>
            <ul>
            <li><strong>Name: </strong> {{game.Game_Name}}</li>
            <li><strong>Rating: </strong> {{game.Rating}}/10</li>
            <li><strong>Description: </strong> {{game.Description}}</li>
            <li><strong>Console: </strong> {{game.Console}}</li>
            </ul>

            {% if game.Image == "" %}
                <h5><strong>No Image Available</strong></h5>
                To add an image for this item, please click on the "Edit" button above and add a link to the image.
            {% else %}
                <!-- for this image link, if the image file does not load correctly, the display is set to none so that 
                the user does not see a broken image link-->
                <img src="{{game.Image}}" alt="{{game.Game_Name}}" class="result_image" onerror="this.style.display='none';">
            {% endif%}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}