<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2>My Movies</h2>
<!-- A with that finds all the flash messages that are available -->
{% with flash_messages = get_flashed_messages() %}
	<!-- if there are messages then it loops through them and displays each in a <h4> tag -->
	{% if flash_messages %}
		{% for flash_message in flash_messages %}
			<h4 class = "flash_messages">{{ flash_message }}</h4>
		{% endfor%}
	{% endif %}
{% endwith%}
<a href="{{url_for('new_film')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">local_movies</i>New Movie</a>
<a href="{{url_for('user_profile')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">face</i>User Profile</a>

<!-- This area controls the materialize accordian 
display component to showcase the user information -->
<ul class="collapsible">
    <!-- For each item the loop will create a new 
    accordian list item and populate it with the data-->
    {% for film in Films %}
    <li>
        <div class="collapsible-header  ">
            <div class="accordian-title">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{film.Name}} - </strong> Released: {{film.Release_Date}}
                <a href="{{url_for('delete_film', film_id=film._id)}}" class="waves-effect waves-light btn accordian-btn"><i class="material-icons right">delete</i>Delete</a>
                <a href="{{url_for('edit_film', film_id=film._id)}}" class="waves-effect waves-light btn blue accordian-btn"><i class="material-icons right">build</i>Edit</a>
            </div>
        </div>

        <div class="collapsible-body">
            <span>
            <ul>
            <li><strong>Director: </strong> {{film.Director}}</li>
            <li><strong>Rating: </strong> {{film.Rating}}%</li>
            <li><strong>Description: </strong> {{film.Description}}</li>
            <li><strong>Genre: </strong> {{film.Genre}}</li>
            </ul>
            <div class="switch">
                <strong>Watched:</strong>
                <label>
                {% if film.Watched %}
                          <input disabled id="watched" name="watched" type="checkbox" checked>
                    {% else %}
                         <input disabled id="watched" name="watched" type="checkbox">
                    {% endif%}
                <span class="lever"></span>
                </label>
            </div>
            {% if film.Image == "" %}
                <h5><strong>No Image Available</strong></h5>
                To add an image for this item, please click on the "Edit" button above and add a link to the image.
            {% else %}
                <!-- for this image link, if the image file does not load correctly, the display is set to none so that 
                the user does not see a broken image link-->
                <img src="{{film.Image}}" alt="{{film.Name}}" class="result_image" onerror="this.style.display='none';">
            {% endif%}

            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}