<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2>My TV Shows</h2>
<a href="{{url_for('new_tv_show')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">tv</i>New TV Show</a>
<!-- This area controls the materialize accordian 
display component to showcase the user information -->
<ul class="collapsible">
    <!-- For each item the loop will create a new 
    accordian list item and populate it with the data-->
    {% for tv in TV %}
    <li>
        <div class="collapsible-header">
            
            <div class="col s9 accordian-title">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{tv.Name}} - </strong> Pilot Date: {{tv.Pilot_Date}}
            </div>
            <div class="col s3 accordian-btn">
                
                <a href="{{url_for('edit_tv', tv_id=tv._id)}}" class="waves-effect waves-light btn btn-small blue"><i class="material-icons right">build</i>Edit</a>
                <a href="{{url_for('delete_tv', tv_id=tv._id)}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">delete</i>Delete</a>
                <a href="{{url_for('view_episodes', tv_name=tv.Name)}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">view</i>Episodes</a>
            </div>
        </div>

        <div class="collapsible-body">
            <span>
            <ul>
            <li><strong>Name: </strong> {{tv.Name}}</li>
            <li><strong>Pilot Date: </strong> {{tv.Pilot_Date}}</li>
            <li><strong>Director: </strong> {{tv.Director}}</li>
            <li><strong>Rating: </strong> {{tv.Rating}}%</li>
            <li><strong>Description: </strong> {{tv.Description}}</li>
            <li><strong>Genre: </strong> {{tv.Genre}}</li>
            </ul>

            <img src="{{tv.Image}}" alt="{{tv.Name}}" class="result_image">
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}