<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2 class="page-header">My TV Shows</h2>
<!-- A with that finds all the flash messages that are available -->
{% with flash_messages = get_flashed_messages() %}
	<!-- if there are messages then it loops through them and displays each in a <h4> tag -->
	{% if flash_messages %}
		{% for flash_message in flash_messages %}
			<h4 class = "flash_messages">{{ flash_message }}</h4>
		{% endfor%}
	{% endif %}
{% endwith%}
<a href="{{url_for('new_tv_show')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">tv</i>New TV Show</a>
<a href="{{url_for('user_profile')}}"class="waves-effect waves-light btn btn-small"><i class="material-icons right">face</i>User Profile</a>

<!-- This area controls the materialize accordian 
display component to showcase the user information -->
<ul class="collapsible">
    <!-- For each item the loop will create a new 
    accordian list item and populate it with the data-->
    {% for tv in TV %}
    <li>
        <div class="collapsible-header">
            <div class="accordian-title">
                <i class="material-icons">keyboard_arrow_down</i>
                <strong>{{tv.Name}} - </strong> Pilot Date: {{tv.Pilot_Date}}
                <a href="{{url_for('view_episodes', tv_name=tv.Name)}}"class="waves-effect waves-light btn accordian-btn btn-mob"><i class="material-icons right">dvr</i>Episodes</a>
                <a href="{{url_for('delete_tv', tv_id=tv._id)}}"class="waves-effect waves-light btn accordian-btn btn-mob"><i class="material-icons right">delete</i>Delete</a>
                <a href="{{url_for('edit_tv', tv_id=tv._id)}}" class="waves-effect waves-light btn accordian-btn blue btn-mob"><i class="material-icons right">build</i>Edit</a>
            </div>
        </div>
        <div class="collapsible-body">
            <span>
            <ul>
            <li><strong>Name: </strong> {{tv.Name}}</li>
            <li><strong>Pilot Date: </strong> {{tv.Pilot_Date}}</li>
            <li><strong>Director: </strong> {{tv.Director}}</li>
            <li><strong>Rating: </strong> {{tv.Rating}}%</li>
            <li><strong>Description: </strong> {{tv.Description}}</li>
            <li><strong>Genre: </strong> {{tv.Genre}}</li>
            </ul>

            {% if tv.Image == "" %}
                <h5><strong>No Image Available</strong></h5>
                To add an image for this item, please click on the "Edit" button above and add a link to the image.
            {% else %}
                <!-- for this image link, if the image file does not load correctly, the display is set to none so that 
                the user does not see a broken image link-->
                <img src="{{tv.Image}}" alt="{{tv.Name}}" class="result_image" onerror="this.style.display='none';">
            {% endif%}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}