<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h1>Sign Up a New User</h1>
<div class="row">
    <form action="" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="First_Name" name="First_Name" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="Last_Name" name="Last_Name" type="text" class="validate">
          <label for="icon_prefix">Last Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">house</i>
          <input id="Address_Line_1" name="Address_Line_1" type="text" class="validate">
          <label for="icon_prefix">Address Line 1</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">house</i>
          <input id="Address_Line_2" name="Address_Line_2" type="text" class="validate">
          <label for="icon_prefix">Address Line 2</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">house</i>
          <input id="Address_Line_3" name="Address_Line_3" type="text" class="validate">
          <label for="icon_prefix">Address Line 3</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">house</i>
          <input id="City" name="City" type="text" class="validate">
          <label for="icon_prefix">City</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">house</i>
          <input id="Postcode" name="Postcode" type="text" class="validate">
          <label for="icon_prefix">Postcode</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="Phone" name="Phone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="Email" name="Email" type="tel" class="validate">
          <label for="icon_telephone">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_box</i>
          <input id="Username" name="Username" type="tel" class="validate">
          <label for="icon_telephone">Username</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="Password" name="Password" type="tel" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
      </div>
    </form>
  </div> 
{% endblock %}

