<!-- This child will inherit from the parent (base.html) -->
{% extends 'base.html'%}

{% block content%}

<h2>Sign Up a New User</h2>

<!-- This area controls the materialize submit form 
component to allow the user to fill in a new users details and submit -->
<div class="row">
	<form action="{{ url_for('add_user') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					<input required id="First_Name" name="First_Name" type="text" class="validate">
					<label for="icon_prefix">First Name</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					<input required id="Last_Name" name="Last_Name" type="text" class="validate">
					<label for="icon_prefix">Last Name</label>
				</div>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">house</i>
				<input required id="Address_Line_1" name="Address_Line_1" type="text" class="validate">
				<label for="icon_prefix">Address Line 1</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">house</i>
				<input id="Address_Line_2" name="Address_Line_2" type="text" class="validate">
				<label for="icon_prefix">Address Line 2</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">house</i>
				<input id="Address_Line_3" name="Address_Line_3" type="text" class="validate">
				<label for="icon_prefix">Address Line 3</label>
			</div>
			<div class="input-field col s12">
				<div class="input-field col s6">
					<i class="material-icons prefix">house</i>
					<input required id="City" name="City" type="text" class="validate">
					<label for="icon_prefix">City</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">house</i>
					<input required id="Postcode" name="Postcode" type="text" class="validate">
					<label for="icon_prefix">Postcode</label>
				</div>
			</div>
			<div class="input-field col s12">
				<div class="input-field col s6">
					<i class="material-icons prefix">phone</i>
					<input id="Phone" name="Phone" type="tel" class="validate">
					<label for="icon_telephone">Telephone</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">email</i>
					<input required id="Email" name="Email" type="email" class="validate">
					<label for="icon_telephone">Email</label>
				</div>
			</div>
			<div class="input-field col s12">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_box</i>
					<input required id="Username" name="Username" type="tel" class="validate">
					<label for="icon_telephone">Username</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">vpn_key</i>
					<input required id="Password" name="Password" type="tel" class="validate">
					<label for="icon_telephone">Password</label>
				</div>
			</div>
			<button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">person_add</i>
            </button>
		</div>
	</form>
</div>
{% endblock %}